ion-grid {
    border-bottom: 5px solid var(--app-background-color);
    background-color: var(--app-item-color);
    margin-left: var(--app-padding-left-right);
    margin-right: var(--app-padding-left-right);
}
