<ion-grid class="" [class.round-borders]="config.roundBordersBool">
  <ion-row>
    <ion-col class="ion-text-center ion-padding">
      <ion-label (click)="onClickAddNewButton()">
        <ion-icon name="add-outline"></ion-icon> {{'Add a New Address'|translate}}
      </ion-label>
    </ion-col>
  </ion-row>
</ion-grid>
<ion-grid class="ion-no-padding margin-top-10" *ngFor="let a of addressArray"
  [class.round-borders]="config.roundBordersBool">
  <ion-row>
    <ion-col class="ion-no-padding">
      <app-address-info-card [data]="getAddressData(a)" (click)="addOrderUserAddress(a)">
      </app-address-info-card>
    </ion-col>
  </ion-row>
  <ion-row *ngIf="editButtons && a!=1">
    <ion-col class="ion-text-center">
      <ion-button size="small" color="danger" (click)="delete(a)">
        <ion-icon name="trash-outline"></ion-icon>
      </ion-button>
      <ion-button size="small" color="success" (click)="edit(a)">
        <ion-icon name="create-outline"></ion-icon>
      </ion-button>
      <ion-button size="small" color="warning" (click)="default(a)" *ngIf="a.default_address==0">
        <ion-icon name="checkmark-outline"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>
</ion-grid>

<ion-grid class="ion-no-padding margin-top-10" *ngIf="addressArray.length==0"
  [class.round-borders]="config.roundBordersBool">
  <ion-row>
    <ion-col class="ion-no-padding ion-text-capitalize ion-text-center">
      {{'no address found!'|translate}}
    </ion-col>
  </ion-row>
</ion-grid>