<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-icon #icon1 class="header-icon" slot="start" name="close-outline" (click)="dismiss()"></ion-icon>
    <ion-title mode="ios">{{'Select Language'|translate}} </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list [class.round-borders]="config.roundBordersBool">
    <ion-item *ngFor="let l of languagesArray" [color]="getSelectedColor(l)" (click)="updateLanguage(l)">
      <ion-label class="font-medium font-bold">{{l.language_name}}({{l.code}})</ion-label>
    </ion-item>
  </ion-list>
</ion-content>