ion-content {
    ion-grid {
        ion-segment {
            margin-bottom: 8px;
        }
        ion-row {
            ion-segment-button {
                ion-label {
                    text-transform: none;
                }
            }
            // ion-button:focus{
            //     border-bottom: 1px solid black;
            // }
        }
    }
    ion-item {
        ion-checkbox {
            color: lightgrey;
            --size: 13px;
            --border-width: 0.3px;
        }
        ion-input {
            --padding-start: 10px;
           // --placeholder-color: #adadad;
            // font-size: small;
        }
        ion-label {
            padding-left: 10px;
            --color: lightgrey;
        }
        ion-button {
            color: lightgrey;
            text-transform: none;
        }
    }
}
.icons {
    ion-button {
        // color: lightgrey;
        text-transform: none;
    }
    ion-label {
        // color: lightgrey;
        margin-top: 0;
        padding-top: 0;
    }
}
