<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-icon #icon1 class="header-icon" slot="start" name="arrow-back" (click)="dismiss()"></ion-icon>
    <ion-title mode="ios"> {{'forgot password'| translate }} </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form #loginForm="ngForm" class="form" (ngSubmit)="forgetPassword()">
    <ion-item lines="none" class="ion-margin-bottom">
      <ion-icon name="mail-outline" size="small"></ion-icon>
      <ion-input class="font-large" placeholder="email@example.com" type="email" email
        pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" name="email" [(ngModel)]="formData.email" required>
      </ion-input>
    </ion-item>
    <ion-text class="helptext font-small" color=danger> * {{"invalid email"|translate}}</ion-text>
    <ion-item *ngIf="errorMessage!=''" lines="none">
      <ion-label>
        {{errorMessage| translate}}
      </ion-label>
    </ion-item>

    <ion-button disabled="true" expand="full" color="secondary" type="submit" [disabled]="!loginForm.form.valid">
      {{'Send'|translate}}
    </ion-button>
  </form>
</ion-content>