ion-item {
    --background: transparent;
    ion-label {
        margin-bottom: 0;
    }
}
.categories-grid {
    padding-left: calc(var(--app-padding-left-right) - 5px);
    padding-right: calc(var(--app-padding-left-right) - 5px);
    ion-row {
        display: flex;
        justify-content: center;
        ion-col {
            padding-top: 0;
            padding-bottom: 20px;
        }
        ion-label {
            padding-top: 2px;
            text-align: center;
        }
    }
}
.hot-items-grid {
    padding-left: calc(var(--app-padding-left-right) - 5px);
    padding-right: calc(var(--app-padding-left-right) - 5px);
}
ion-grid {
    --ion-grid-padding: 0;
    padding-left: var(--app-padding-left-right);
    padding-right: var(--app-padding-left-right);
}
