<div [class.round-borders]="config.roundBordersBool" class="product-card-component" [appAnimation]="'fade'" #productRef>
    <app-product-card-style1 *ngIf="config.productCardStyleNumber==1" [data]="data" (onClickProduct)="openProductPage()"
        (onClickWishIcon)="addRemoveWishProduct()" [wishListStatus]="isInWishList()" [discount]="productDiscount()">
    </app-product-card-style1>

    <app-product-card-style2 *ngIf="config.productCardStyleNumber==2" [data]="data" (onClickProduct)="openProductPage()"
        (onClickWishIcon)="addRemoveWishProduct()" [wishListStatus]="isInWishList()">
    </app-product-card-style2>

    <app-product-card-style3 *ngIf="config.productCardStyleNumber==3" [data]="data"
        (onClickProduct)="openProductPage()">
    </app-product-card-style3>

    <app-product-card-style4 *ngIf="config.productCardStyleNumber==4" [data]="data" (onClickProduct)="openProductPage()"
        (onClickWishIcon)="addRemoveWishProduct()" [wishListStatus]="isInWishList()">
    </app-product-card-style4>

    <app-product-card-style5 *ngIf="config.productCardStyleNumber==5" [data]="data" (onClickProduct)="openProductPage()"
        (onClickWishIcon)="addRemoveWishProduct()" [wishListStatus]="isInWishList()">
    </app-product-card-style5>

    <app-product-card-style6 *ngIf="config.productCardStyleNumber==6" [data]="data"
        (onClickProduct)="openProductPage()">
    </app-product-card-style6>


    <app-product-card-style7 *ngIf="config.productCardStyleNumber==7" [data]="data" (onClickProduct)="openProductPage()"
        (onClickWishIcon)="addRemoveWishProduct()" [wishListStatus]="isInWishList()">
    </app-product-card-style7>


    <app-product-card-style8 *ngIf="config.productCardStyleNumber==8" [data]="data" (onClickProduct)="openProductPage()"
        [outOfStock]="enableOutOFStockButtonBool" (onClickAddToCart)="addToCart()">
    </app-product-card-style8>

    <app-product-card-style9 *ngIf="config.productCardStyleNumber==9" [data]="data" (onClickProduct)="openProductPage()"
        [outOfStock]="enableOutOFStockButtonBool" (onClickAddToCart)="addToCart()">
    </app-product-card-style9>

    <app-product-card-style10 *ngIf="config.productCardStyleNumber==10" [data]="data"
        (onClickProduct)="openProductPage()" (onClickWishIcon)="addRemoveWishProduct()"
        [wishListStatus]="isInWishList()" [outOfStock]="enableOutOFStockButtonBool" (onClickAddToCart)="addToCart()">
    </app-product-card-style10>


    <app-product-card-style11 *ngIf="config.productCardStyleNumber==11" [data]="data"
        (onClickProduct)="openProductPage()" (onClickWishIcon)="addRemoveWishProduct()"
        [wishListStatus]="isInWishList()">
    </app-product-card-style11>


    <app-product-card-style12 *ngIf="config.productCardStyleNumber==12" [data]="data"
        (onClickProduct)="openProductPage()" [outOfStock]="enableOutOFStockButtonBool" (onClickAddToCart)="addToCart()">
    </app-product-card-style12>


    <app-product-card-style13 *ngIf="config.productCardStyleNumber==13" [data]="data"
        (onClickProduct)="openProductPage()" (onClickWishIcon)="addRemoveWishProduct()"
        [wishListStatus]="isInWishList()">
    </app-product-card-style13>


    <app-product-card-style14 *ngIf="config.productCardStyleNumber==14" [data]="data"
        (onClickProduct)="openProductPage()" (onClickWishIcon)="addRemoveWishProduct()"
        [wishListStatus]="isInWishList()">
    </app-product-card-style14>


    <app-product-card-style15 *ngIf="config.productCardStyleNumber==15" [data]="data"
        (onClickProduct)="openProductPage()" (onClickWishIcon)="addRemoveWishProduct()"
        [wishListStatus]="isInWishList()">
    </app-product-card-style15>

    <app-product-card-style16 *ngIf="config.productCardStyleNumber==16" [data]="data"
        (onClickProduct)="openProductPage()" [outOfStock]="enableOutOFStockButtonBool" (onClickAddToCart)="addToCart()">
    </app-product-card-style16>


    <app-product-card-style17 *ngIf="config.productCardStyleNumber==17" [data]="data"
        (onClickProduct)="openProductPage()">
    </app-product-card-style17>
    <app-product-card-style18 *ngIf="config.productCardStyleNumber==18" [data]="data"
        (onClickProduct)="openProductPage()" [outOfStock]="enableOutOFStockButtonBool" (onClickAddToCart)="addToCart()">
    </app-product-card-style18>

    <app-product-card-style19 *ngIf="config.productCardStyleNumber==19" [data]="data"
        (onClickProduct)="openProductPage()" (onClickWishIcon)="addRemoveWishProduct()"
        [wishListStatus]="isInWishList()" [outOfStock]="enableOutOFStockButtonBool" (onClickAddToCart)="addToCart()">
    </app-product-card-style19>
    <app-product-card-style20 *ngIf="config.productCardStyleNumber==20" [data]="data"
        (onClickProduct)="openProductPage()" (onClickWishIcon)="addRemoveWishProduct()"
        [wishListStatus]="isInWishList()">
    </app-product-card-style20>

    <app-product-card-style21 *ngIf="config.productCardStyleNumber==21" [data]="data"
        (onClickProduct)="openProductPage()">
    </app-product-card-style21>


    <app-product-card-style22 *ngIf="config.productCardStyleNumber==22" [data]="data"
        (onClickProduct)="openProductPage()" (onClickWishIcon)="addRemoveWishProduct()"
        [wishListStatus]="isInWishList()">
    </app-product-card-style22>


    <app-product-card-style23 *ngIf="config.productCardStyleNumber==23" [data]="data"
        (onClickProduct)="openProductPage()" [outOfStock]="enableOutOFStockButtonBool" (onClickAddToCart)="addToCart()">
    </app-product-card-style23>

    <app-product-card-style27 *ngIf="config.productCardStyleNumber==24" [data]="data"
        (onClickProduct)="openProductPage()" (onClickQuantityMinus)="quantityMinus()"
        (onClickQuantityPlus)="quantityPlus()" [outOfStock]="enableOutOFStockButtonBool" [discount]="productDiscount()">
    </app-product-card-style27>

    <app-product-card-style24 *ngIf="config.productCardStyleNumber==25" [data]="data"
        (onClickProduct)="openProductPage()" (onClickWishIcon)="addRemoveWishProduct()"
        [wishListStatus]="isInWishList()" (onClickQuantityMinus)="quantityMinus()"
        (onClickQuantityPlus)="quantityPlus()" [outOfStock]="enableOutOFStockButtonBool">
    </app-product-card-style24>
    <app-product-card-style25 *ngIf="config.productCardStyleNumber==26" [data]="data"
        (onClickProduct)="openProductPage()" (onClickWishIcon)="addRemoveWishProduct()"
        [wishListStatus]="isInWishList()" (onClickQuantityMinus)="quantityMinus()"
        (onClickQuantityPlus)="quantityPlus()" [outOfStock]="enableOutOFStockButtonBool">
    </app-product-card-style25>
    <app-product-card-style26 *ngIf="config.productCardStyleNumber==27" [data]="data"
        (onClickProduct)="openProductPage()" (onClickWishIcon)="addRemoveWishProduct()"
        [wishListStatus]="isInWishList()" (onClickQuantityMinus)="quantityMinus()"
        (onClickQuantityPlus)="quantityPlus()" [outOfStock]="enableOutOFStockButtonBool">
    </app-product-card-style26>

    <app-product-card-style28 *ngIf="config.productCardStyleNumber==28" [data]="data"
        (onClickProduct)="openProductPage()" (onClickWishIcon)="addRemoveWishProduct()"
        [wishListStatus]="isInWishList()" (onClickAddToCart)="addToCart()">
    </app-product-card-style28>

</div>