<ion-card *ngIf="data!=1">
  <div class="card_image_container">
    <ion-img [appImageValidate]="70" src="{{config.imgThumbnailUrlString+data.product_gallary.gallary_name}}" (click)="openProductPage()">
    </ion-img>
    <ion-fab vertical="top" horizontal="start" slot="fixed" class="left-fab">
      <ion-badge color="dark" class="font-extra-small font-bold">

        <!-- <div *ngIf="data.product_type=='variable'">
          {{data.product_combination[0].price|curency}}
          - {{data.product_combination[data.product_combination.length-1].price|curency}}
        </div> -->
        <!-- *ngIf="data.product_type=='simple'" -->
  <div>
          <div *ngIf="data.product_discount_price!=0">
            <ion-text class="line-through truncate">{{data.product_price|curency}}</ion-text>
            &nbsp;
            <ion-text class="truncate">{{data.product_discount_price|curency}}</ion-text>
          </div>
          <div *ngIf="data.product_discount_price==0">
            {{data.product_price|curency}}
          </div>
        </div>
      </ion-badge>
    </ion-fab>
    <div class="cart-buttons">

      <ion-button size=small
        class="font-medium ion-text-capitalize ion-no-margin ion-no-padding padding-horizontal-10 margin-bottom-10"
        expand="block" color="primary" (click)="addToCart()" *ngIf="data.product_type=='simple' && !outOfStock">
        {{'add to cart'|translate}}</ion-button>
      <ion-button size=small
        class="font-medium ion-text-capitalize ion-no-margin ion-no-padding padding-horizontal-10 margin-bottom-10"
        expand="block" color="danger" *ngIf="data.product_type=='simple' && outOfStock">
        {{'out of stock'|translate}}</ion-button>

      <ion-button size=small
        class="font-medium ion-text-capitalize ion-no-margin ion-no-padding padding-horizontal-10 margin-bottom-10"
        expand="block" color="primary" (click)="addToCart()" *ngIf="data.product_type=='variable'">
        {{'details'|translate}}
      </ion-button>
      <ion-button size=small class="font-medium ion-text-capitalize ion-no-margin ion-no-padding  margin-right-10"
        (click)="clickWishIcon()">
        <ion-icon slot="icon-only" color="light" [name]="getHeartName()" class="margin-horizontal-5">
        </ion-icon>
      </ion-button>
    </div>
  </div>
  <ion-card-content class="bold font-small truncate ion-no-padding padding-horizontal-5 padding-top-5 ion-text-center">
    {{data.category[0].category_detail.detail[0].name}}
  </ion-card-content>
  <ion-card-content
    class="bold font-medium truncate ion-no-padding padding-horizontal-5 padding-bottom-5 ion-text-center"
    (click)="openProductPage()">
    <ion-text color="danger"> {{data.detail[0].title}}</ion-text>
  </ion-card-content>
</ion-card>

<ion-card *ngIf="data==1">
  <div class="margin-5">
    <ion-skeleton-text animated class="borders-radius-0 ion-no-margin" style="height: 150px">
    </ion-skeleton-text>
    <ion-skeleton-text animated style="width: 90%">
    </ion-skeleton-text>
    <ion-skeleton-text animated style="width: 50%">
    </ion-skeleton-text>
  </div>
</ion-card>