.main-menu {
    ion-item {
        --min-height: auto;
        ion-thumbnail {
            width: 25px;
            height: 25px;
        }
    }

    ion-list {
        padding: 0;
        padding-top: 10px;
        padding-bottom: 10px;
        .start-icon{
            font-size: 20px;
        }
    }
}

.rotation-animation {
    animation-name: rotate;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.margin50bottom {
    margin-bottom: 50px;
}
