<ion-card *ngIf="data!=1">
  <div class="card_image_container">
    <ion-img [appImageValidate]="70" src="{{config.imgThumbnailUrlString+data.product_gallary.gallary_name}}" (click)="openProductPage()">
    </ion-img>
    <ion-icon [color]="getHeartColor()" name="heart-circle-outline" (click)="clickWishIcon()"></ion-icon>
  </div>
  <ion-card-content class="bold font-small truncate ion-no-padding padding-horizontal-5 padding-top-5 ion-text-center">
    <ion-icon [name]="getStarIconName(1)" [color]="getStarIconColor(1)"></ion-icon>
    <ion-icon [name]="getStarIconName(2)" [color]="getStarIconColor(2)"></ion-icon>
    <ion-icon [name]="getStarIconName(3)" [color]="getStarIconColor(3)"></ion-icon>
    <ion-icon [name]="getStarIconName(4)" [color]="getStarIconColor(4)"></ion-icon>
    <ion-icon [name]="getStarIconName(5)" [color]="getStarIconColor(5)"></ion-icon>
  </ion-card-content>
  <ion-card-content class="bold font-medium truncate ion-no-padding padding-horizontal-5 ion-text-center"
    (click)="openProductPage()">
    <ion-text color="danger"> {{data.detail[0].title}}</ion-text>
  </ion-card-content>
</ion-card>

<ion-card *ngIf="data==1">
  <div class="margin-5">
    <ion-skeleton-text animated class="borders-radius-0 ion-no-margin" style="height: 150px">
    </ion-skeleton-text>
    <ion-skeleton-text animated style="width: 90%">
    </ion-skeleton-text>
    <ion-skeleton-text animated style="width: 50%">
    </ion-skeleton-text>
  </div>
</ion-card>