.content {
    padding-left: var(--app-padding-left-right);
    padding-right: var(--app-padding-left-right);
    .bottom-products-grid {
        padding-left: 5px;
        padding-right: 5px;
    }
}
