<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-icon #icon1 class="header-icon" slot="start" name="close-outline" (click)="dismiss()"></ion-icon>
    <ion-title mode="ios">{{'terms & services'|translate}} </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="center" *ngIf="shared.termServices==''">
    <ion-spinner></ion-spinner>
  </div>
  <ion-text class="ion-no-padding" *ngIf="shared.termServices!=''">
    <p [innerHTML]="shared.termServices">
    </p>
  </ion-text>
</ion-content>