.bottom-products-grid {
    padding-left: calc(var(--app-padding-left-right) - 5px);
    padding-right: calc(var(--app-padding-left-right) - 5px);
}

ion-badge {
    border: 1px solid var(--ion-text-color);
}

form {
    margin-top: 10px;
    margin-left: var(--app-padding-left-right);
    margin-right: var(--app-padding-left-right);
}
