<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-icon #icon1 class="header-icon" slot="start" name="close" (click)="dismiss(null)"></ion-icon>
    <ion-title mode="ios">{{'Zone'|translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-searchbar (ionInput)="getItems($event)" name="search" #Searchbar placeholder="{{'search'|translate}}">
    </ion-searchbar>
  </ion-toolbar>
</ion-header>
<ion-content class="page-select-zones">
  <ion-list class="margin-top-10" [class.round-borders]="config.roundBordersBool">
    <div *ngFor="let item of items">
      <ion-item (click)="selectZone(item)">
        {{ item.name }}
      </ion-item>
    </div>
    <ion-item (click)="selectZone('other')">
      {{'other'|translate}}
    </ion-item>
  </ion-list>
</ion-content>